.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;

}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;

}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;

}


.title {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 23px 0;
    text-align: center;
}

.item__all {
    margin: 0 auto;
    width: 100%;
}

.line__column {
    display: flex;
    flex-direction: column;
}

    .line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.shop__name__text {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    margin: 7px 0;
    border: none;
}

.picture {
    width: 60%;
    margin: 7px 0;
}

.form {
    background-color: #eaeaea;
    border-radius: 7px;
    width: 500px;
    margin: 30px auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    height: 100%;
}



.text {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    margin: 7px 0;
    border: none;
    display: flex;
    flex-direction: row-reverse;

}

.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.about__name {
    width: 50%;
}

textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
}

.button {
    width: 500px;
    height: 50px;
    background-color: lightgrey;
    border: none;
    border-radius: 0 0 7px 7px;
}

.button a {
    color: white;
    text-decoration: none;
}

.error {
    color: black;
}

.alert-success {
    text-align: center;
}

.csv__input{
    margin:20px auto;
}


@media screen and (max-width: 768px) {

    .header__left {
        display: flex;
        flex-direction: row;
        width: 150px;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border: none;
        background-color: rgb(72, 72, 255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .icon::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 10px;
        width: 25%;
        height: 1px;
        background-color: white;

    }

    .icon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 50%;
        height: 1px;
        background-color: white;

    }

    .icon .third-line {
        content: "";
        position: absolute;
        top: 70%;
        left: 10px;
        width: 12.5%;
        height: 1px;
        background-color: white;
    }

    .header__title {
        color: rgb(72, 72, 255);
        font-weight: bolder;
        font-size: 25px;
        margin: 0 15px;

    }


    .title {
        font-size: 20px;
        font-weight: bold;
        margin: 30px 0 23px 0;
        text-align: center;
    }

    .item__all {
        margin: 0 auto;
    }

    .line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item__name {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .shop__name__text {
        width: 100%;
        height: 30px;
        border-radius: 8px;
        margin: 7px 0;
        border: none;
    }

    .picture {
        width: 100%;
        margin: 7px 0;
    }

    .form {
        background-color: #eaeaea;
        border-radius: 7px;
        width: 500px;
        margin: 30px auto;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }



    .text {
        width: 100%;
        height: 30px;
        border-radius: 8px;
        margin: 7px 0;
        border: none;
        display: flex;
        flex-direction: row-reverse;

    }

    .about {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .about__name {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    textarea {
        width: 100%;
        height: 150px;
        border: none;
        border-radius: 8px;
        margin: 20px auto;
    }

    .button {
        width: 100%;
        height: 50px;
        background-color: lightgrey;
        border: none;
        border-radius: 0 0 7px 7px;
    }

    .error {
        color: black;
    }

    .alert-success {
        text-align: center;
    }

}