.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;
}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;
}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;
}

.visit {
    color: black;
    font-weight: bold;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

.reserve__box {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(101, 135, 246);
    width: 30vw;
    height: 19vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vw auto;
}

.reserve {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.reserve__item__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3vw;
}

.reserve__title {
    font-size: 2vw;
    font-weight: bold;
    width: 30vw;
    margin: 0 auto 5%;
}

.reserve__item__top__left {
    display: flex;
    flex-direction: row;
}

.time__img {
    width: 2vw;
    height: 2vw;
    margin: auto 1vw;
}

.delete__img {
    width: 2vw;
    height: 2vw;
    margin: auto 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve__number {
    color: white;
    margin: auto 0;
    font-size: 1.4vw;
}

.reserve__right {
    display: flex;
    justify-content: space-between;
}

.reserve__qr {
    color: white;
    text-decoration: none;
    border: 0.1vw solid white;
    border-radius: 3px;
    text-align: center;
    margin: auto 10px;
    font-size: 1vw;
}

.reserve__edit {
    color: white;
    text-decoration: none;
    border: 0.1vw solid white;
    border-radius: 3px;
    text-align: center;
    margin: auto 0;
    font-size: 1vw;
}

.reserve__delete {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: auto 1vw;
}

.confirm {
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
}

.confirm__left {
    display: flex;
    flex-direction: column;
    width: 7vw;
    margin: 1vw 0 0 1vw;
}

.confirm__right {
    display: flex;
    flex-direction: column;
    margin: 1vw 0 0 1vw;
}

.confirm__item {
    color: white;
    margin: 0.3vw 0.3vw;
    font-size: 1vw;
}

.reserve__item__top {
    display: flex;
    flex-direction: row;
}

.reserve__item__bottom {
    display: flex;
    flex-direction: row;
}

.favorite {
    width: 60%;
    margin: 0 auto;
}

.favorite__title {
    font-size: 2vw;
    font-weight: bold;
    margin: 0 5%;
}

.card__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex-basis: 45%;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    height: 25vw;
}

.img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.under__box {
    height: 100%;
}

.under__item {
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.shopname {
    font-size: 1.5vw;
    font-weight: bold;
    margin: auto 0;
}

.hashtag {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.tag {
    font-size: 1vw;
}

.between {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.detail {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 5px;
    font-size: 1vw;
    width: 7vw;
    height: 2.5vw;
    margin: auto 0;
}

.between__right {
    margin: auto 0;
}

.heart {
    cursor: pointer;
}

.heart img {
    width: 2.5vw;
    height: 2.5vw;
}

.heart-image.red {
    display: none;
}

.heart-image.hidden {
    display: none;
}

.mypage {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__left {
        display: flex;
        flex-direction: row;
        width: 150px;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border: none;
        background-color: rgb(72, 72, 255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .icon::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 10px;
        width: 25%;
        height: 1px;
        background-color: white;
    }

    .icon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 50%;
        height: 1px;
        background-color: white;
    }

    .icon .third-line {
        content: "";
        position: absolute;
        top: 70%;
        left: 10px;
        width: 12.5%;
        height: 1px;
        background-color: white;
    }

    .header__title {
        color: rgb(72, 72, 255);
        font-weight: bolder;
        font-size: 25px;
        margin: 0 15px;
    }

    .visit {
        color: black;
        font-weight: bold;
    }

    .name {
        display: flex;
        justify-content: center;
        font-size: 3vw;
    }

    .reserve__box {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        background-color: rgb(101, 135, 246);
        width: 80%;
        height: 170px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px auto;
    }

    .reserve {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .reserve__item__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30px;
    }

    .reserve__title {
        font-size: 2vw;
        font-weight: bold;
        width: 30vw;
        margin: 0 auto 5%;
        display: flex;
        justify-content: center;
    }

    .reserve__item__top__left {
        display: flex;
        flex-direction: row;
    }

    .time__img {
        width: 2vw;
        height: 2vw;
        margin: auto 1vw;
    }

    .delete__img {
        width: 2vw;
        height: 2vw;
        margin: auto 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reserve__number {
        color: white;
        margin: auto 0;
        font-size: 1.4vw;
    }

    .reserve__right {
        display: flex;
        justify-content: space-between;
    }

    .reserve__edit {
        color: white;
        text-decoration: none;
        border: 0.1vw solid white;
        border-radius: 3px;
        text-align: center;
        margin: auto 0;
        font-size: 1vw;
    }

    .reserve__delete {
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: auto 1vw;
    }

    .confirm {
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    .confirm__left {
        display: flex;
        flex-direction: column;
        width: 7vw;
        margin: 0 auto;
    }

    .confirm__right {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .confirm__item {
        color: white;
        margin: 5px 0;
        font-size: 1vw;
    }

    .reserve__item__top {
        display: flex;
        flex-direction: row;
    }

    .reserve__item__bottom {
        display: flex;
        justify-content: space-between;
        max-width: 280px;
    }

    .favorite {
        width: 100%;
        margin: 0 auto;
    }

    .favorite__title {
        font-size: 2vw;
        font-weight: bold;
        margin: 0 5%;
        display: flex;
        justify-content: center;
    }

    .card__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .card {
        flex-basis: 80%;
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        background-color: white;
        height: 80vw;
    }

    .img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .under__box {
        height: 100%;
    }

    .under__item {
        height: 50%;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .shopname {
        font-size: 3vw;
        font-weight: bold;
        margin: auto 0;
    }

    .hashtag {
        display: flex;
        flex-direction: row;
        height: 20%;
    }

    .tag {
        font-size: 3vw;
    }

    .between {
        display: flex;
        justify-content: space-between;
        height: 50%;
    }

    .detail {
        font-size: 1vw;
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        background-color: rgb(65, 65, 255);
        color: white;
        border-radius: 5px;
        width: 23vw;
        height: 7vw;
        margin: auto 0;
    }

    .between__right {
        margin: auto 0;
    }

    .heart {
        cursor: pointer;
    }

    .heart img {
        width: 7vw;
        height: 7vw;
    }

    .heart-image.red {
        display: none;
    }

    .heart-image.hidden {
        display: none;
    }

    .media__btn {
        display: flex;
        justify-content: center;
    }

    .reserve__btn {
        font-size: 1vw;
    }

    .favorite__btn {
        font-size: 1vw;
    }

    .mypage {
        display: block;
    }

    .toggle__btn {
        flex: 1 1 auto;
        margin: 10px;
        padding: 3px;
        border-radius: 7px;
        border: 2px solid rgb(70, 98, 236);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        transition: .3s;
        background-color: white;
        color: rgb(70, 98, 236);

        &:after {
            position: absolute;
            transition: .3s;
            content: '';
            width: 0;
            left: 0;
            bottom: 0;
            height: 3px;
            background: rgba(70, 98, 236, 0.65);
        }

        &:hover {
            cursor: pointer;
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
}