.detail {
    width: 100%;
}

.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;
}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;
}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;
}

.between {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reserve__right {
    margin: 0 auto;
    width: 40%;
}

.reserve__list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(150, 150, 150);
}

.reserve__item {
    font-size: 1.5vw;
    text-align: center
}

.reserve__title {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    margin: auto 0;
}

.shopname {
    font-size: 3vw;
}

@media screen and (max-width: 768px) {

    .detail {
        width: 100%;
    }

    .header__left {
        display: flex;
        flex-direction: row;
        width: 150px;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border: none;
        background-color: rgb(72, 72, 255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .icon::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 10px;
        width: 25%;
        height: 1px;
        background-color: white;
    }

    .icon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 50%;
        height: 1px;
        background-color: white;
    }

    .icon .third-line {
        content: "";
        position: absolute;
        top: 70%;
        left: 10px;
        width: 12.5%;
        height: 1px;
        background-color: white;
    }

    .header__title {
        color: rgb(72, 72, 255);
        font-weight: bolder;
        font-size: 25px;
        margin: 0 15px;
    }

    .between {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    svg.w-5.h-5 {
        width: 30px;
        height: 30px;
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .reserve__right {
        margin: 0 auto;
        width: 40%;
        border: 1px solid rgb(150, 150, 150);
    }

    .reserve__list {
        display: flex;
        flex-direction: column;
    }

    .reserve__item {
        font-size: 1.5vw;
        text-align: center
    }
}