.header {
    display: flex;
    justify-content: space-between;

}

.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;

}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;

}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;

}

.main {
    display: flex;
    justify-content: center;
    margin: 200px 0 0 0;
}

.center {
    display: flex;
    justify-content: center;
}

p {
    color: red;
}

.form-center {
    display: flex;
    justify-content: center;
}

.form {

    border-radius: 7px;
    width: 380px;
    height: 270px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.title {
    background-color: rgb(88, 88, 251);
    color: white;
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    line-height: 50px;
    padding: 0 0 0 10px;


}



.form__item {
    display: flex;
    justify-content: center;
}

.item {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 250px;
    height: 40px;


}

.button {
    background-color: rgb(88, 88, 251);
    color: white;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 30px;
    
    


}

.under-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;

}

.rink {
    text-decoration: none;
}

.error{
    display: flex;
    justify-content: center;
}

img {
    width: 25px;
    margin: 0 10px 0 0;
}

.line {
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    margin: 0 0 0 auto;
}

.error {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .header {
    display: flex;
    justify-content: space-between;

}

.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;

}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;

}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;

}

.main {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.center {
    display: flex;
    justify-content: center;
}

p {
    color: red;
}

.form-center {
    display: flex;
    justify-content: center;
}

.form {

    border-radius: 7px;
    width: 270px;
    height: 270px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.title {
    background-color: rgb(88, 88, 251);
    color: white;
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    line-height: 50px;
    padding: 0 0 0 10px;


}



.form__item {
    display: flex;
    justify-content: center;
}

.item {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 40px;


}

.button {
    background-color: rgb(88, 88, 251);
    color: white;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 30px;
    
    


}

.under-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    text-decoration: none;
    align-items: center;
}

.rink {
    text-decoration: none;
}

.error{
    display: flex;
    justify-content: center;
}

img {
    width: 25px;
    margin: 0 10px 0 0;
}

.line {
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    margin: 0 0 0 auto;
}

.error {
    display: flex;
    justify-content: center;
}
}