.detail {
    width: 100%;
}

.header__left {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgb(72, 72, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10px;
    width: 25%;
    height: 1px;
    background-color: white;
}

.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50%;
    height: 1px;
    background-color: white;
}

.icon .third-line {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 12.5%;
    height: 1px;
    background-color: white;
}

.header__title {
    color: rgb(72, 72, 255);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 15px;
}

.img {
    width: 100%;
}

.hashtag {
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.detail__left{
        display: flex;
        justify-content: center;
        align-items: center;
}

.detail__left__box{
    border-right:solid gray;
    margin:70px 0;
    width:100%;
    
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 25px;
}

.rate-form label:hover {
    color: rgb(72, 72, 255);
}

.rate-form label:hover~label {
    color: rgb(72, 72, 255);
}

.rate-form input[type=radio]:checked~label {
    color: rgb(72, 72, 255);
}

.review {
    width: 80%;
    margin: auto auto;
}

.comment__text {
    width: 100%;
    height: 100px;
}

.review__right {
    width: 100%;
}

.detail__left {
    width: 100%;
}

.card__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    width:200px;
    margin:0 auto;
}

.img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.under__box {
    height: 100%;
}

.under__item {
    height: 50%;
    display: flex;
    flex-direction: column;
    width:  90%;
    margin: 0 auto;
}

.shopname {
    font-size: 1vw;
    font-weight: bold;
    margin: auto 0;
}

.hashtag {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.tag {
    font-size: 1vw;
}

.card__between {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.detail {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 5px;
    font-size: 1vw;
    width: 7vw;
    height: 2.5vw;
    margin: auto 0;
}

.between__right{
    margin: auto 0;
}

.heart {
    cursor: pointer;
}

.heart img {
    width: 2.5vw;
    height: 2.5vw;
}

.heart-image.red {
    display: none;
}

.heart-image.hidden {
    display: none;
}

.text{
    font-size:30px;
    margin:0 auto 30px;
    width:60%;
    text-align:center;
}

.review__img{
    background-color:#f4f4f4;
    padding:30px;
}

.max__text{
    text-align:right;
    font-size:13px;
}

.review__button{
    display:flex;
    margin:0 auto;
    width:300px;
    padding:10px;
    align-items:center;
    justify-content:center;
    border-radius:50px;
    border:none;
}

    .review__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.title{
    margin:10px 0;
}

.img__text{
    text-align:center;
}

.img__sub__text{
    text-align:center;
}

.filename{
    word-break:break-all
}
@media screen and (max-width: 768px) {

    .detail {
        width: 100%;
    }

    .header__left {
        display: flex;
        flex-direction: row;
        width: 150px;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border: none;
        background-color: rgb(72, 72, 255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .icon::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 10px;
        width: 25%;
        height: 1px;
        background-color: white;
    }

    .icon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 50%;
        height: 1px;
        background-color: white;
    }

    .icon .third-line {
        content: "";
        position: absolute;
        top: 70%;
        left: 10px;
        width: 12.5%;
        height: 1px;
        background-color: white;
    }

    .header__title {
        color: rgb(72, 72, 255);
        font-weight: bolder;
        font-size: 25px;
        margin: 0 15px;
    }

    .img {
        width: 100%;
    }

    .hashtag {
        display: flex;
        flex-direction: row;
    }

    .between {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .review {
        width: 100%;
    }

    .rate-form {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .rate-form input[type=radio] {
        display: none;
    }

    .rate-form label {
        position: relative;
        padding: 0 5px;
        color: #ccc;
        cursor: pointer;
        font-size: 13px;
    }

    .rate-form label:hover {
        color: rgb(72, 72, 255);
    }

    .rate-form label:hover~label {
        color: rgb(72, 72, 255);
    }

    .rate-form input[type=radio]:checked~label {
        color: rgb(72, 72, 255);
    }

    .review {
        width: 100%;
        margin: auto auto;
    }

    .comment__text {
        width: 98%;
        height: 250px;
    }

    .review__right {
        width: 100%;
    }

    .detail__left {
        width: 100%;
    }

    .detail__left__box{
    border-right:none;
    margin:50px 0;
}

    .about {
        display: flex;
        flex-direction: column;
    }

    .card__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    flex-basis: calc(100%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.under__box {
    height: 100%;
}

.under__item {
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.shopname {
    font-size: 4vw;
    font-weight: bold;
    margin: auto 0;
}

.hashtag {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.tag {
    font-size: 2vw;
}

.card__between {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.detail {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 5px;
    font-size: 2vw;
    width: 17vw;
    height: 5vw;
    margin: auto 0;
}

.between__right {
     margin: auto 0;
}

.heart {
    cursor: pointer;
}

.heart img {
    width: 5vw;
    height: 5vw;
}

.heart-image.red {
    display: none;
}

.heart-image.hidden {
    display: none;
}

.text{
    font-size:27px;
}

.review__button{
    display:flex;
    margin:20px auto;
    width:300px;
    padding:10px;
    align-items:center;
    justify-content:center;
    border-radius:50px;
    border:none;
}
}